<div class="container">

<div class="row">

      <div class="col-md-4 col-sm-4 col icon-wrapper" >
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank">
        <div class="service-img"><img src="/education.png" alt="Education"></div>
        </a>
         <div class="service-title">
            Education
        </div>

      </div>

      <div class="col-md-4 col-sm-4 col icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank">
        <div class="service-img"><img src="/pc.png" alt="Card image cap"></div>
        </a>
         <div class="service-title">
            IT Support
          </div>

      </div>

      <div class="col-md-4 col-sm-4 col icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank">
        <div class="service-img"><img src="/presentation.png" alt="Card image cap"></div>
        </a>
         <div class="service-title">
            Advisory
          </div>

      </div>

  </div>
</div>
