<div class="container">

<div class="row">

      <div class="col-md-4 col-sm-12 col-12 icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank" class="icon">
        <div class="service-img"><img src="/desk.png" alt="Education"></div>
        </a>
         <div class="service-title">
            AUTOMATION
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-12 icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank" class="icon">
        <div class="service-img"><img src="/pc.png" alt="Education"></div>
        </a>
         <div class="service-title">
            APP DEVELOPMENT
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-12 icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank" class="icon">
        <div class="service-img"><img src="/presentation.png" alt="Education"></div>
        </a>
         <div class="service-title">
            BUSINESS ANALYSIS
        </div>
      </div>

  </div>
</div>
