<div class="container">

<div class="row">

      <div class="col-md-4 col-sm-12 col-12 icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank" class="icon">
        <div class="service-img"><img src="/education.png" alt="Education"></div>
        </a>
         <div class="service-title">
            Education
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-12 icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank" class="icon">
        <div class="service-img"><img src="/education.png" alt="Education"></div>
        </a>
         <div class="service-title">
            Advisory
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-12 icon-wrapper">
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank" class="icon">
        <div class="service-img"><img src="/education.png" alt="Education"></div>
        </a>
         <div class="service-title">
            IT
        </div>
      </div>

  </div>
</div>
