<div class="container">


<div class="row card-deck">

      <div class="card" class="col-md-4 col-sm-4 col" >
        <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank">
        <img class="card-img-top" src="/book.jpg" alt="Card image cap">
         <div class="hero_content">
            Ruby on Rail 開発メモ
          </div>
        </a>
      </div>

       <div class="card" class="col-md-4 col-sm-4" >
         <a href="https://vote-for-good.herokuapp.com/" target="_blank">
        <img class="card-img-top" src="/book.jpg" alt="Card image cap">
         <div class="hero_content">
            投票アプリ
          </div>
          </a>
      </div>

       <div class="card" class="col-md-4 col-sm-4" >
         <a href="https://news-intro-arata.herokuapp.com" target="_blank">
        <img class="card-img-top" src="/book.jpg" alt="Card image cap">
         <div class="hero_content">
          　ニュースサーキュレーション
          </div>
          </a>
      </div>
  </div>
</div>
