<%= render "home/carousel" %>

<div class="top-content top-about">
  <div class="title">
  <h1>About</h1>
  </div>
</div>

<div class="top-content top-services">
  <div class="title">
  <h1>Services</h1>
  </div>
</div>

<div class="top-content top-about">
  <div class="title">
  <h1>Skills</h1>
  </div>
</div>
