// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.web-container {
  height:800px;
  background-color: #333333;
  color:white;
  }

.header {
  color:red;
  background-color: #333333;
  //background-color: rgba(0,0,0,0);
  font-size: 1.7em;
}

.title {
  padding-top:20px;
  padding-bottom: 30px;
  text-align: center;
}
